body {
    padding: 0;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row !important;
    margin: auto;
    margin-top: 75px;
    width: 100%
}

.frase-footer {
    color: gray;
}

.home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}